---
title: "Your receipt"
template: default
googleFonts: "Source+Sans+Pro:200,300,400,600,700,900"
---

{% block template %}
<div>
  <table class="wrapper w-full h-screen all-font-sans">
    <tr>
      <td align="center" class="align-middle bg-gray-200"><!-- background -->
        <table class="w-600 sm-w-full">
          <tr>
            <td><!-- pre-block -->
              &nbsp;
            </td><!-- pre-block -->
          </tr>
          <tr>
            <td align="center" class="sm-px-16">
             <table class="w-full bg-white px-16 shadow-lg">
              <tr>
                <td>
                  <table class="w-full text-center">
                    <tr>
                      <td class="pt-64 pb-32 text-5xl font-light">
                        Your receipt
                      </td>
                    </tr>
                    <tr>
                      <td class="py-8 text-gray-600">
                        January 11, 2019
                      </td>
                    </tr>
                    <tr>
                      <td class="pt-8 pb-40 text-gray-600">
                        # 2019-928374
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="align-center pt-24">
                  <table class="w-full order-lines">
                    <tr>
                      <td>
                        <table class="w-full">

                          <tr>
                            <td colspan="2" class="pb-16 align-top w-full">
                              Order item 1
                              <span class="pl-14 pt-12 block text-gray-600">
                                Some additional information for this order item.
                                <br>3 x €4.115,00
                              </span>
                            </td>
                            <td class="pb-16 align-top text-right whitespace-no-wrap pl-20">
                              €12.345,00
                            </td>
                            <td class="pb-16 align-top text-right whitespace-no-wrap pl-16 text-gray-500">21%</td>
                          </tr>

                          <tr>
                            <td colspan="2" class="pb-16 align-top">
                              Order item 2
                            </td>
                            <td class="pb-16 align-top text-right whitespace-no-wrap pl-20">
                              €12.345,00
                            </td>
                            <td class="pb-16 align-top text-right whitespace-no-wrap pl-16 text-gray-500">21%</td>
                          </tr>

                          <tr>
                            <td colspan="2" class="pb-16 align-top">
                              Order item 3
                            </td>
                            <td class="pb-16 align-top text-right whitespace-no-wrap pl-20">
                              €12.345,00
                            </td>
                            <td class="pb-16 align-top text-right whitespace-no-wrap pl-16 text-gray-500">9%</td>
                          </tr>

                          <tr>
                            <td colspan="2"></td>
                            <td class="pl-20 pb-16">
                              <div class="bg-gray-300 h-3 leading-px">&nbsp;</div>
                            </td>
                            <td></td>
                          </tr>

                          <tr class="font-bold">
                            <td class="w-full"></td>
                            <td class="pb-16 align-top text-right whitespace-no-wrap">
                              Subtotal
                            </td>
                            <td class="pb-16 align-top text-right whitespace-no-wrap pl-20">
                              €12.345,00
                            </td>
                            <td></td>
                          </tr>

                          <tr>
                            <td class="w-full"></td>
                            <td class="pb-16 align-top text-right whitespace-no-wrap">
                              9% VAT
                            </td>
                            <td class="pb-16 align-top text-right whitespace-no-wrap pl-20">
                              €12.345,00
                            </td>
                            <td></td>
                          </tr>

                          <tr>
                            <td class="w-full"></td>
                            <td class="pb-16 align-top text-right whitespace-no-wrap">
                              21% VAT
                            </td>
                            <td class="pb-16 align-top text-right whitespace-no-wrap pl-20">
                              €12.345,00
                            </td>
                            <td></td>
                          </tr>

                          <tr>
                            <td class="w-full"></td>
                            <td colspan="2" class="pb-16">
                              <div class="bg-gray-300 h-3 leading-none">&nbsp;</div>
                            </td>
                            <td></td>
                          </tr>

                          <tr class="font-bold">
                            <td class="w-full"></td>
                            <td class="pb-16 align-top whitespace-no-wrap">
                              TOTAL
                            </td>
                            <td class="pb-16 align-top text-right whitespace-no-wrap pl-20">
                              €12.345,00
                            </td>
                            <td></td>
                          </tr>

                          <tr>
                            <td class="w-full"></td>
                            <td colspan="2" class="pb-16">
                              <div class="bg-gray-300 h-3 leading-none">&nbsp;</div>
                            </td>
                            <td></td>
                          </tr>

                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table class="w-full">
                    <tr>
                      <td class="pt-24 pb-14 text-3xl">
                        Your details
                      </td>
                    </tr>
                    <tr>
                      <td class="pt-12 pb-16">
                        John Doe<br/>
                        Sesame Street<br/>
                        867123AS NEVERLAND<br/>
                        john@johndoe.com
                      </td>
                    </tr>
                    <tr>
                      <td class="py-16">
                        Mastercard<br/>
                        Ending in *1234
                      </td>
                    </tr>
                    <tr>
                      <td class="py-16">
                        My very personal note
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table class="py-24 w-full text-center">

                    <tr>
                      <td class="pt-8 pb-0 text-gray-600">
                        Sander van Hooft &bullet;
                        <a class="text-gray-600 no-underline" href="https://www.sandervanhooft.com" target="_blank">
                          www.sandervanhooft.com
                        </a>
                      </td>

                    </tr>
                  </table>
                </td>
              </tr>
             </table>
            </td>
          </tr>
          <tr><td>&nbsp;</td></tr>
        </table>
      </td><!-- background -->
    </tr>
  </table>
</div>

{% endblock %}
